*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header, .firstPage{
    background: #1f2937;
    color: white;
}

/* Regular page padding */

header, .firstPage, .secondPage, .fourthPage{
    padding: 0 10vw;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 80px;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

header .headerLinks ul{
    list-style: none;
    display: flex;
    gap: 18px;
}

header .headerLinks ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}



/* First page under header */

.firstPage{
    display: flex;
    padding-bottom: 100px;
    gap: 40px;
}

.firstPage .leftPage{
    flex: 1;
}

.firstPage .leftPage h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.firstPage .leftPage p{
    font-size: 18px;
    color: #e5e7eb;
}

.firstPage .leftPage button{
    background-color: #3882F6;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 900;
}

.firstPage .rightPage{
    flex: 1;
}

.firstPage .rightPage .box{
    width: 100%;
    height: 200px;
    background: #646466;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Second Page */

.secondPage{
    padding-top: 40px;
    padding-bottom: 100px;
}

.secondPage .title {
    text-align: center;
    padding-bottom: 50px;
}

.secondPage .title h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.secondPage .content{
    display: flex;
    justify-content: space-evenly;
}

.secondPage .content .boxPack{
    width: 150px;
    text-align: center;
}

.secondPage .content .boxPack .box {
    width: 150px;
    height: 150px;
    border: 3px solid  #3882F6;
    border-radius: 10px;
}


/* Third Page */

.thirdPage{
    padding: 0 20vw;
    background: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
}

.thirdPage .quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.thirdPage .author{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 20px;
    font-weight: 900;
    font-size: 23px;
}


/* Fourth Page */

.fourthPage {
    padding-top: 100px;
    padding-bottom: 100px;
}

.fourthPage .content{
    width: 76%;
    padding: 30px 10vw;
    border-radius: 10px;
    background: #3882F6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourthPage .content .left h5{
    font-size: 24px;
}

.fourthPage .content .left p{
    font-size: 16px;
}

.fourthPage .content .right button{
    background: #3882F6;
    border: 2px solid #f9faf8;
    padding: 8px 28px;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
}


/* Footer */

footer{
    background: #1f2937;
    text-align: center;
    padding: 30px;
    color: #f9faf8;
}